<mat-card class="w-50 mx-auto min-max-size-lg">
    <mat-card-header>
        <img mat-card-avatar [src]=" 'data:image/png;base64,'+ p.userProfileImage" />
        <mat-card-title>
            <span [routerLink]="['profile/' + p.userId]">{{p.userName}}</span>
            <button class="btn btn-outline-primary d-inline-flex" *ngIf="!alreadyAddedToMessenger && !myPost" (click)="addToMessenger()">
                <mat-icon>bolt</mat-icon>
                <span>Add</span>
            </button>
            <small class="ms-2" *ngIf="alreadyAddedToMessenger && !myPost">already added</small>
        </mat-card-title>
        <mat-card-subtitle>{{p.dateCreated | date:'dd MMM, yyyy hh:mm a'}}</mat-card-subtitle>
        <button mat-icon-button class="ms-auto border-0 bg-white" *ngIf="myPost" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delete(p)">
                <mat-icon>delete</mat-icon> Delete
            </button>
        </mat-menu>
    </mat-card-header>
    <img class="mat-card-img" *ngIf="p.image" mat-card-image [src]="p.image" alt="Photo" (dblclick)="likeAction()" />
    <mat-card-content *ngIf="p.status" style="white-space: pre-wrap;">
        <p>
            {{p.status}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button class="border-0 bg-white d-inline-flex align-items-center fw-bold" (click)="likeAction()">
            <mat-icon style="color:red;" *ngIf="likeStatus">favorite</mat-icon>
            <mat-icon *ngIf="!likeStatus">favorite_border</mat-icon>
            <span class="ms-1" *ngIf="likeCount>1"> liked by <span *ngIf="likeStatus">you and {{likeCount -1}} </span><span *ngIf="!likeStatus">{{likeCount}} </span>other<span *ngIf="likeCount>2">s</span></span>
            <span class="ms-1" *ngIf=" likeCount==1"> liked by <span *ngIf="likeStatus">you</span> <span *ngIf="!likeStatus">{{likeCount}} person</span></span>
        </button>
        <!-- <button >SHARE</button>-->
    </mat-card-actions>
</mat-card>
